.header{
  width: 100%;
  padding: 20px 15px;

  display: flex;
  align-items: center;
  justify-content: end;
}
.wrap{
   width: 50%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.leftnav{
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.leftnav>a{
    color: #777777;
    text-decoration: none;
}
.rightnav{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding: 10px;
}
.rightnav>a{
    color: #777777;
    text-decoration: none;
}
.rightnav>a:nth-child(2){
  width: 16%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(0, 136, 255);
  position: relative;
}
.rightnav>a>.items{
    position: absolute;
    left: 43px;
    top: -10px;
    color: red;
}